@define-color fg #ffe9c7;
@define-color bg #1a1515;
@define-color highlight #ca6bac;
@define-color alert #e3556f;

* {all: unset;}

#waybar>box {background-color: @bg; border-bottom: 1px solid @highlight}

#mpris, #workspaces button, .modules-right>widget>*, menuitem, tooltip label {font-family: "Noto Sans"; font-size: 14px; color: @fg; padding: 4px 8px;}

menu, tooltip {background-color: @bg; border: 1px solid @highlight}

#workspaces button:hover, #workspaces button.focused, #workspaces button.active,
#mpris:hover, .modules-right>widget>*:hover, menu menuitem:hover {color: @highlight;}

#workspaces button.urgent {color: @alert;}
