@import "colors.rasi"
window{
width:300px;
}
mainbox{
background-color:@background;
border:2px;
padding:12px;
children:[inputbar];
}
inputbar{
background-color:@input;
padding:12px;
children:[entry];
}
