@import "colors.rasi"
window{
height:315px;
width:270px;
}
mainbox{
background-color:@background;
border:2px;
padding:16px;
children:[listview];
}
element-text{
padding:16px;
horizontal-align:0.5;
}
element selected{
background-color:@hover;
}
